<nav class="bg-primary-dark">
  <div class="container">
    <div class="flex justify-between">
      <ul class="flex gap-48 sm-gap-0 sm-w-full color-white justify-between">
        <li><a href="#" class="py-13 sm-py-12 hover-underline">最新消息</a></li>
        <li><a href="#" class="py-13 sm-py-12 hover-underline">特別企劃</a></li>
        <li><a href="#" class="py-13 sm-py-12 hover-underline">新品上市</a></li>
        <li>
          <a href="#" class="py-13 sm-py-12 hover-underline">鏡框小知識</a>
        </li>
      </ul>
      <div class="py-13 sm-hidden pointer">
        <img src="../assets/images/ic_search.svg" alt="search icon" />
      </div>
    </div>
  </div>
</nav>
