<li>
  <div class="card blog-card gap-24 sm-gap-8">
    <img
      src="../assets/images/blog-5.png"
      alt="blog image"
      class="object-cover"
    />
    <div class="blog-card__content flex flex-col">
      <div class="blog-card__title">
        <a href="#" class="block">
          <h2>抵抗夏日大作戰</h2>
          <p class="flex justify-between items-center">
            <span>Summer Special</span>
            <time datetime="2020-08-07">2019/08/07</time>
          </p>
        </a>
      </div>
      <p class="blog-card__text sm-hidden">
        <span class="md-hidden">
          2020
          年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯
        </span>
        <span class="hidden md-inline">
          2020
          年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，⋯⋯<a
            href="#"
            class="hover-underline"
            >more</a
          >
        </span>
      </p>
      <div class="flex justify-end mt-auto md-hidden">
        <a
          href="#"
          class="blog-card__button color-primary-dark fs-3xl font-700 hover-underline"
          >MORE</a
        >
      </div>
    </div>
  </div>
</li>
