<footer class="row">
  <div class="col-8 col-md-12 sm-hidden">
    <div class="flex gap-16 items-center border-bottom-grey pb-16 mb-24">
      <span>Share</span>
      <a href="#" class="hover-scale"
        ><img
          src="../assets/images/logo-facebook.png"
          alt="Facebook icon"
          class="block w-24"
      /></a>
      <a href="#" class="hover-scale">
        <img
          src="../assets/images/logo-instagram.png"
          alt="Instagram icon"
          class="block w-24"
      /></a>
    </div>
    <div class="flex justify-between">
      <a href="#" class="flex items-center gap-12 hover-underline">
        <img
          src="../assets/images/ic_arrow_prev.svg"
          alt="previous page icon"
        />
        <span>上一篇：街頭潮人訪問 1</span>
      </a>
      <a href="#" class="flex items-center gap-12 hover-underline">
        <span>下一篇：街頭潮人訪問 2</span>
        <img
          src="../assets/images/ic_arrow_next.svg"
          alt="previous page icon"
        />
      </a>
    </div>
  </div>
</footer>
