<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb__item"><a href="#">首頁</a></li>
    <li class="breadcrumb__item"><a href="#">部落格</a></li>
    <li class="breadcrumb__item"><a href="">特別企劃</a></li>
    <li class="breadcrumb__item active">情人特別企劃</li>
  </ol>
</nav>
