<section class="index-section bg-secondary">
  <div class="container">
    <div class="row no-gutters justify-center">
      <div class="col-6 col-md-10">
        <h2 class="index-section-title title-primary mb-48 md-mb-24">
          聯絡我們
        </h2>
        <p class="fs-lg md-fs-base mb-24">
          我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
        </p>
        <form class="contact__form">
          <div class="contact__form-group">
            <label for="name">姓名</label>
            <input type="text" id="name" name="name" placeholder="孫曉明" />
          </div>
          <div class="contact__form-group">
            <label for="phone">聯絡電話</label>
            <input
              type="text"
              id="phone"
              name="phone"
              placeholder="0912-345-678"
            />
          </div>
          <div class="contact__form-group">
            <label for="email">電子郵件</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="example@email.com"
            />
          </div>
          <div class="contact__form-group">
            <label for="message">意見反應</label>
            <textarea
              name="message"
              id="message"
              placeholder="請輸入您的意見"
              rows="5"
            ></textarea>
          </div>
          <div class="contact__form-group">
            <input type="checkbox" name="privacy-policy" id="privacy-policy" />
            <label for="privacy-policy">
              我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。
            </label>
          </div>
          <button
            class="block w-2/3 md-4/5 sm-w-full mx-auto font-700 bg-primary color-white py-16 hover-bgc-darken"
          >
            確認送出
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
