<header class="header bg-primary">
  <nav class="container">
    <div class="flex justify-between flex-wrap">
      <h1>
        <a href="index.html" class="logo block"> Glasses Website </a>
      </h1>

      <ul
        class="flex flex-wrap color-white gap-64 sm-gap-0 sm-w-full text-center items-center"
      >
        <li class="sm-w-1/2">
          <a class="sm-w-full hover-underline" href="products.html">系列鏡框</a>
        </li>
        <li class="sm-w-1/2">
          <a class="sm-w-full hover-underline" href="stores.html">門市據點</a>
        </li>
        <li class="sm-w-1/2">
          <a class="sm-w-full hover-underline" href="blog.html">部落格</a>
        </li>
        <li class="sm-w-1/2">
          <a class="sm-w-full hover-underline" href="faq.html">常見問題</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
