<ul>
  <li class="active">
    <a href="products.html">OPTICAL</a>
  </li>
  <li>
    <a href="products-sunglasses.html">SUNGLASSES</a>
  </li>
  <li>
    <a href="products-functional.html">FUNCTIONAL</a>
  </li>
</ul>
