<section class="products-section">
  <div class="container">
    <h1 class="products-section-title">
      <span>2020 NEW COLLECTION</span>
      <span>賽璐珞鈦金屬混合鏡框</span>
    </h1>
    <div class="row row-gap-80 md-row-gap-40 sm-gap-24">
      <div class="col-3 col-md-6">
        <a href="#" class="product-card hover-opacity">
          <img src="../assets/images/product-7.png" alt="product image" />
          <div class="product-card__content">
            <span>BJ41600S</span>
            <span class="product-card__price">NTD3,490</span>
          </div>
          <ul class="product-card__colors">
            <li class="square"></li>
            <li class="square"></li>
          </ul>
        </a>
      </div>
      <div class="col-3 col-md-6">
        <a href="#" class="product-card hover-opacity">
          <img src="../assets/images/product-8.png" alt="product image" />
          <div class="product-card__content">
            <span>BJ41600S</span>
            <span class="product-card__price">NTD3,490</span>
          </div>
          <ul class="product-card__colors">
            <li class="square"></li>
            <li class="square"></li>
          </ul>
        </a>
      </div>
      <div class="col-3 col-md-6">
        <a href="#" class="product-card hover-opacity">
          <img src="../assets/images/product-9.png" alt="product image" />
          <div class="product-card__content">
            <span>BJ41600S</span>
            <span class="product-card__price">NTD3,490</span>
          </div>
          <ul class="product-card__colors">
            <li class="square"></li>
            <li class="square"></li>
          </ul>
        </a>
      </div>
      <div class="col-3 col-md-6">
        <a href="#" class="product-card hover-opacity">
          <img src="../assets/images/product-10.png" alt="product image" />
          <div class="product-card__content">
            <span>BJ41600S</span>
            <span class="product-card__price">NTD3,490</span>
          </div>
          <ul class="product-card__colors">
            <li class="square"></li>
            <li class="square"></li>
          </ul>
        </a>
      </div>
      <div class="col-3 col-md-6">
        <a href="#" class="product-card hover-opacity">
          <img src="../assets/images/product-11.png" alt="product image" />
          <div class="product-card__content">
            <span>BJ41600S</span>
            <span class="product-card__price">NTD3,490</span>
          </div>
          <ul class="product-card__colors">
            <li class="square"></li>
            <li class="square"></li>
          </ul>
        </a>
      </div>
      <div class="col-3 col-md-6">
        <a href="#" class="product-card hover-opacity">
          <img src="../assets/images/product-12.png" alt="product image" />
          <div class="product-card__content">
            <span>BJ41600S</span>
            <span class="product-card__price">NTD3,490</span>
          </div>
          <ul class="product-card__colors">
            <li class="square"></li>
            <li class="square"></li>
          </ul>
        </a>
      </div>
      <div class="col-3 col-md-6">
        <a href="#" class="product-card hover-opacity">
          <img src="../assets/images/product-7.png" alt="product image" />
          <div class="product-card__content">
            <span>BJ41600S</span>
            <span class="product-card__price">NTD3,490</span>
          </div>
          <ul class="product-card__colors">
            <li class="square"></li>
            <li class="square"></li>
          </ul>
        </a>
      </div>
      <div class="col-3 col-md-6">
        <a href="#" class="product-card hover-opacity">
          <img src="../assets/images/product-8.png" alt="product image" />
          <div class="product-card__content">
            <span>BJ41600S</span>
            <span class="product-card__price">NTD3,490</span>
          </div>
          <ul class="product-card__colors">
            <li class="square"></li>
            <li class="square"></li>
          </ul>
        </a>
      </div>
      <div class="col-3 col-md-6">
        <a href="#" class="product-card hover-opacity">
          <img src="../assets/images/product-9.png" alt="product image" />
          <div class="product-card__content">
            <span>BJ41600S</span>
            <span class="product-card__price">NTD3,490</span>
          </div>
          <ul class="product-card__colors">
            <li class="square"></li>
            <li class="square"></li>
          </ul>
        </a>
      </div>
      <div class="col-3 col-md-6">
        <a href="#" class="product-card hover-opacity">
          <img src="../assets/images/product-10.png" alt="product image" />
          <div class="product-card__content">
            <span>BJ41600S</span>
            <span class="product-card__price">NTD3,490</span>
          </div>
          <ul class="product-card__colors">
            <li class="square"></li>
            <li class="square"></li>
          </ul>
        </a>
      </div>
      <div class="col-3 col-md-6">
        <a href="#" class="product-card hover-opacity">
          <img src="../assets/images/product-11.png" alt="product image" />
          <div class="product-card__content">
            <span>BJ41600S</span>
            <span class="product-card__price">NTD3,490</span>
          </div>
          <ul class="product-card__colors">
            <li class="square"></li>
            <li class="square"></li>
          </ul>
        </a>
      </div>
      <div class="col-3 col-md-6">
        <a href="#" class="product-card hover-opacity">
          <img src="../assets/images/product-12.png" alt="product image" />
          <div class="product-card__content">
            <span>BJ41600S</span>
            <span class="product-card__price">NTD3,490</span>
          </div>
          <ul class="product-card__colors">
            <li class="square"></li>
            <li class="square"></li>
          </ul>
        </a>
      </div>
    </div>
  </div>
</section>
