<ul>
  <li class="<%= page === 'optical' ? 'active' : ''%>">
    <a href="products-optical.html">OPTICAL</a>
  </li>
  <li class="<%= page === 'sunglasses' ? 'active' : ''%>">
    <a href="products-sunglasses.html">SUNGLASSES</a>
  </li>
  <li class="<%= page === 'functional' ? 'active' : ''%>">
    <a href="products-functional.html">FUNCTIONAL</a>
  </li>
</ul>
