<img src="../assets/images/store-1.png" alt="台北中山旗艦店" />
<div class="grow">
  <h2 class="store-card__title">台北中山旗艦店</h2>
  <div class="store-card__content h-full">
    <p>
      <img src="../assets/images/ic_phone.svg" alt="phone icon" />
      <a href="tel:+88620001234">電話：(02)000-1234</a>
    </p>
    <p>
      <img src="../assets/images/ic_clock.svg" alt="time icon" />
      <span>營業時間：10:00 - 21:00</span>
    </p>
    <p>
      <img src="../assets/images/ic_pin.svg" alt="location pin icon" />
      <a href="#">地址：台北市中山區南京東路 25 巷 2 - 1 號</a>
    </p>
  </div>
</div>
