<img src="../assets/images/store-2.png" alt="台北綠園店" />
<div class="grow">
  <h2 class="store-card__title">台北綠園店</h2>
  <div class="store-card__content h-full">
    <p>
      <img src="../assets/images/ic_phone.svg" alt="phone icon" />
      <a href="#">電話：(02)000-2345</a>
    </p>
    <p>
      <img src="../assets/images/ic_clock.svg" alt="time icon" />
      <a href="#">營業時間：10:00 - 21:00</a>
    </p>
    <p>
      <img src="../assets/images/ic_pin.svg" alt="location pin icon" />
      <a href="#">地址：台北市中正區復興南路 132-1 號</a>
    </p>
  </div>
</div>
