<img src="../assets/images/store-5.png" alt="高雄夢時代店" />
<div class="grow">
  <h2 class="store-card__title">高雄夢時代店</h2>
  <div class="store-card__content h-full">
    <p>
      <img src="../assets/images/ic_phone.svg" alt="phone icon" />
      <a href="tel:+88670001234">電話：(07)000-1234</a>
    </p>
    <p>
      <img src="../assets/images/ic_clock.svg" alt="time icon" />
      <span>營業時間：10:00 - 21:00</span>
    </p>
    <p>
      <img src="../assets/images/ic_pin.svg" alt="location pin icon" />
      <a href="#">地址：高雄市前鎮區中華一路 63 號 6 樓</a>
    </p>
  </div>
</div>
