<aside class="col-3 color-primary font-700 sm-hidden">
  <h2 class="mb-4 fs-2xl md-fs-base flex items center gap-12 md-gap-2">
    <img
      src="../assets/images/ic_tag.svg"
      alt="tag icon"
      class="w-38 md-w-19"
    />
    <span>TAGS</span>
  </h2>

  <ul class="flex flex-col gap-4 md-gap-0 fs-xl md-fs-base">
    <li>
      <a href="#" class="mr-24 hover-color-darken">#special</a>
      <a href="#" class="hover-color-darken">#sale</a>
    </li>
    <li>
      <a href="#" class="mr-24 hover-color-darken">#new_item</a
      ><a href="#" class="hover-color-darken">#interview</a>
    </li>
    <li>
      <a href="#" class="mr-24 hover-color-darken">#trivia</a
      ><a href="#" class="hover-color-darken">#news</a>
    </li>
    <li><a href="#" class="mr-24 hover-color-darken">#event</a></li>
  </ul>
</aside>
