.contact__form {
  &-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 48px;
      flex-direction: row;
      align-items: flex-start;
    }

    input[type="checkbox"] {
      margin-right: 4px;
    }

    @include sm-breakpoint {
      &:last-of-type {
        margin-bottom: 24px;
      }
    }
  }
}
