<!DOCTYPE html>
<html lang="zh_Hant">
  <%- include('./layout/head'); %>
  <body>
    <%- include('./layout/header'); %>
    <main>
      <section class="py-80 sm-pt-40 sm-pb-64">
        <div class="container">
          <h1 class="page-title mb-32">常見問題</h1>
          <div class="row">
            <div class="col-8 col-md-12">
              <h2 class="fs-xl font-700 mb-24">我想詢問配鏡問題</h2>
              <div class="faq-card">
                <h3>Q1.請問可否自備鏡框單配鏡片？</h3>
                <p>
                  A1.我牌鏡框搭配薄型非球面鏡片 1480
                  元，搭配功能型鏡片則依鏡片種類加價購買。
                  當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為
                  1480 元），搭配功能型鏡片則依鏡片種類加價購買。
                  他牌鏡框，搭配薄型非球面鏡片 1980
                  元，搭配功能型鏡片則依鏡片種類加價購買。
                </p>
              </div>
              <div class="faq-card">
                <h3>Q2.眼鏡都可以20分鐘取件嗎？</h3>
                <p>
                  A1.我牌鏡框搭配薄型非球面鏡片 1480
                  元，搭配功能型鏡片則依鏡片種類加價購買。
                  當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為
                  1480 元），搭配功能型鏡片則依鏡片種類加價購買。
                  他牌鏡框，搭配薄型非球面鏡片 1980
                  元，搭配功能型鏡片則依鏡片種類加價購買。
                </p>
              </div>
              <div class="faq-card">
                <h3>Q3.散光鏡片需要額外加價嗎？</h3>
                <p>
                  A1.我牌鏡框搭配薄型非球面鏡片 1480
                  元，搭配功能型鏡片則依鏡片種類加價購買。
                  當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為
                  1480 元），搭配功能型鏡片則依鏡片種類加價購買。
                  他牌鏡框，搭配薄型非球面鏡片 1980
                  元，搭配功能型鏡片則依鏡片種類加價購買。
                </p>
              </div>
              <div class="faq-card">
                <h3>Q4.我可以使用舊眼鏡的度數配鏡片嗎？</h3>
                <p>
                  A1.我牌鏡框搭配薄型非球面鏡片 1480
                  元，搭配功能型鏡片則依鏡片種類加價購買。
                  當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為
                  1480 元），搭配功能型鏡片則依鏡片種類加價購買。
                  他牌鏡框，搭配薄型非球面鏡片 1980
                  元，搭配功能型鏡片則依鏡片種類加價購買。
                </p>
              </div>
              <div class="faq-card">
                <h3>Q5.請問可以單購買鏡框嗎？</h3>
                <p>
                  A1.我牌鏡框搭配薄型非球面鏡片 1480
                  元，搭配功能型鏡片則依鏡片種類加價購買。
                  當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為
                  1480 元），搭配功能型鏡片則依鏡片種類加價購買。
                  他牌鏡框，搭配薄型非球面鏡片 1980
                  元，搭配功能型鏡片則依鏡片種類加價購買。
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- page footer -->
    <%- include('./layout/footer'); %>
    <script type="module" src="../main.js"></script>
  </body>
</html>
